# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyB_LB27KPFAUpT4tkmj2rbAMdlFgLphlqk
VITE_FIREBASE_AUTH_DOMAIN=prom-joy.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://prom-joy-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=prom-joy
VITE_FIREBASE_STORAGE_BUCKET=prom-joy.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=958771441744
VITE_FIREBASE_APP_ID=1:958771441744:web:feddd214119b777025a155
VITE_FIREBASE_MEASUREMENT_ID=G-VVRXMZ7XM8

# Gemini API Key
VITE_GEMINI_API_KEY=AIzaSyACD6Hdhxw_PtRnB6h-wMUeaLX0FE6-aHI

